*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-header{
    /* background-color: red; */
}
.product-header h1{
    /* background-color: blue; */
}
.cotegory{
    height: 8vh;
    width: 15vh;
    margin-left: 5vh;
    border-radius: 5px;
    font-size: 23px;
}
/* .cotegory:focus{
    background-color: rgb(255, 106, 0);
    color: whitesmoke;
    border: none;
} */
.cotegory-button{
    align-items: center;
    /* background-color: black; */
    padding: 2vh 5vh;
}
.product-foods button{
    padding: 8px 7px;
    /* margin: 5px 50px; */
    border-radius: 5px;
    font-weight: bold;
    background-color: transparent;
    text-align: right;
}
.product-foods button:hover{
    transition: .5s;
    background-color: rgb(255, 106, 0);
    border-color: rgb(255, 106, 0);
    color: white;
    cursor: pointer;
}
.cart-item{
    text-align: right;
}